# DATA CLEANING

In [2]:
# Importing Library

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Reading File

In [9]:
df = pd.read_csv(r"E:\Youtube project\daily_trending_videos.csv")

# Checking Structure

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600183 entries, 0 to 600182
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      600183 non-null  object
 1   title         600183 non-null  object
 2   channel       600183 non-null  object
 3   country       600183 non-null  object
 4   views         600183 non-null  int64
 5   likes         600183 non-null  int64
 6   comments      600183 non-null  int64
 7   published_at  600183 non-null  object
 8   fetch_date    600183 non-null  object
dtypes: int64(3), object(6)
memory usage: 41.2+ MB

In [14]:
df.head()   # checking top 5 values

,video_id,title,channel,country,views,likes,comments,published_at,fetch_date
0,KDorKy-13ak,Kendrick Lamar's Apple Music Super Bowl Halfti...,NFL,US,33079510,1633864,98574,2025-02-10T03:22:55Z,2025-02-11 17:43:34
1,lI4dq7ffQy0,Kendrick Lamar Disses Drake During Halftime Sh...,E! News,US,1475936,12629,5126,2025-02-10T03:27:44Z,2025-02-11 17:43:34
2,Y5vgBxUuNlc,JAZZ at LAKERS | FULL GAME HIGHLIGHTS | Februa...,NBA,US,1841263,31666,2906,2025-02-11T06:12:20Z,2025-02-11 17:43:34
3,hUUszE29jS0,Marvel Studios’ Thunderbolts* | Big Game Trail...,Marvel Entertainment,US,9893431,204063,13864,2025-02-09T23:54:00Z,2025-02-11 17:43:34
4,jdX5xwV829s,The First Kiss in Brawl Stars!?,Brawl Stars,US,8354717,257108,17632,2025-02-10T08:58:00Z,2025-02-11 17:43:34

In [16]:
df.shape     #checking total no. of rows and columns

(600183, 9)

In [18]:
df.columns  # checking name of columns

Index(['video_id', 'title', 'channel', 'country', 'views', 'likes', 'comments',
       'published_at', 'fetch_date'],
      dtype='object')

In [20]:
df.head()

,video_id,title,channel,country,views,likes,comments,published_at,fetch_date
0,KDorKy-13ak,Kendrick Lamar's Apple Music Super Bowl Halfti...,NFL,US,33079510,1633864,98574,2025-02-10T03:22:55Z,2025-02-11 17:43:34
1,lI4dq7ffQy0,Kendrick Lamar Disses Drake During Halftime Sh...,E! News,US,1475936,12629,5126,2025-02-10T03:27:44Z,2025-02-11 17:43:34
2,Y5vgBxUuNlc,JAZZ at LAKERS | FULL GAME HIGHLIGHTS | Februa...,NBA,US,1841263,31666,2906,2025-02-11T06:12:20Z,2025-02-11 17:43:34
3,hUUszE29jS0,Marvel Studios’ Thunderbolts* | Big Game Trail...,Marvel Entertainment,US,9893431,204063,13864,2025-02-09T23:54:00Z,2025-02-11 17:43:34
4,jdX5xwV829s,The First Kiss in Brawl Stars!?,Brawl Stars,US,8354717,257108,17632,2025-02-10T08:58:00Z,2025-02-11 17:43:34

# Converting to datetime

In [23]:


df['published_at'] = pd.to_datetime(df['published_at'], errors='coerce')
df['fetch_date'] = pd.to_datetime(df['fetch_date'], errors='coerce')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600183 entries, 0 to 600182
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      600183 non-null  object
 1   title         600183 non-null  object
 2   channel       600183 non-null  object
 3   country       600183 non-null  object
 4   views         600183 non-null  int64
 5   likes         600183 non-null  int64
 6   comments      600183 non-null  int64
 7   published_at  600183 non-null  datetime64[ns, UTC]
 8   fetch_date    600183 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int64(3), object(4)
memory usage: 41.2+ MB

# Checking for duplicates

In [28]:


print('Duplicate Rows:', df.duplicated().sum())

Duplicate Rows: 0

# Checking for null values

In [31]:


print('Missing Values:\n', df.isnull().sum())

Missing Values:
 video_id        0
title           0
channel         0
country         0
views           0
likes           0
comments        0
published_at    0
fetch_date      0
dtype: int64

#  Basic Statistics

In [34]:
print('Total Videos:', df['video_id'].nunique())

Total Videos: 46610

In [36]:
print('Total Channels:', df['channel'].nunique())

Total Channels: 15885

In [38]:
print('Total Countries:', df['country'].nunique())

Total Countries: 93

In [40]:
print(df[['views', 'likes', 'comments']].describe())

              views         likes       comments
count  6.001830e+05  6.001830e+05  600183.000000
mean   1.312603e+07  3.842454e+05    5810.557225
std    2.654302e+07  8.202271e+05   23351.828279
min    0.000000e+00  0.000000e+00       0.000000
25%    5.596510e+05  1.651300e+04     454.000000
50%    2.071240e+06  6.836000e+04    1461.000000
75%    1.176827e+07  3.439970e+05    3939.000000
max    3.160123e+08  1.087292e+07  550214.000000